@import 'src/styles/colorVariables.scss';
@import 'src/styles/utilsVariables.scss';
@import 'src/styles/fontsVariables.scss';

.header {
	width: 100%;
	background-color: $MAIN_COLOR;
	height: 100px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.company-name {
		font-size: $FONT_SIZE_COMPANY-NAME;
		font-weight: $FONT_WEIGHT_BOLD;
	}

	.navigation {
		display: flex;
		gap: 16px;

		.anchor {
			display: flex;
			width: 245px;
			height: 48px;
			border-radius: $PADDING;
			background-color: $ADDITIONAL_COLOR;

			.anchor-text {
				margin: auto;
			}
		}
	}

	.profile {
		display: flex;
		gap: 50px;
	}
}
