@import 'src/styles/colorVariables.scss';
@import 'src/styles/utilsVariables.scss';
@import 'src/styles/fontsVariables.scss';

.slide {
	position: relative;
	width: 100%;
	height: 716px;
	background-color: $MAIN_COLOR;
}
